@import url('https://fonts.googleapis.com/css?family=Poppins');

.content {
    display: flex;
    padding: 2rem 10rem 10rem 10rem;
    flex-direction: column;
}

.about {
    text-align: center;
    color: #FFFFFF;
    font-family: Poppins, 'Courier New', Courier, monospace;
    font-size: 20px;
}

.find-skills {
    display: flex;
    justify-content: space-around;
    color: #FFFFFF;
    font-family: Poppins, 'Courier New', Courier, monospace;
    font-size: 20px;
    line-height: 0.5rem;
}

.container-itens {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-skill {
    display: flex;
    justify-content: center;
    text-align: center;
}

.header-findme {
    display: flex;
    justify-content: center;
    text-align: center;
}

h3 {
    color: #eda85f;
    padding-left: 5rem;
    text-align: center;
}

.container-skill {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container-findme {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.item-skill {
    display: flex;
    justify-content: space-around;
}

.item-findme {
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}

.item {
    padding-bottom: 0.6rem;
    padding-left: 1rem;
    margin: 12px;
    top:0;
    position:relative;
    -webkit-transition: top 0.4s ease-out;
    -moz-transition: top 0.4s ease-out;
    -o-transition: top 0.4s ease-out;
}

.item:hover {
    top: -12px;
}

.item-skill img {
    width: 30px;
    height: 30px;
    padding-top: 7px;
    padding-left: 10px;
}

.icons {
    width: 50px;
    height: 50px;
    margin: 12px;
    top:0;
    position:relative;
    -webkit-transition: top 0.4s ease-out;
    -moz-transition: top 0.4s ease-out;
    -o-transition: top 0.4s ease-out;
}

.icons:hover {
    top: -12px;
}

@media screen and (max-width: 1000px) {

    .content {
        padding: 2rem 7rem 7rem 7rem;
    }

}

@media screen and (max-width: 800px) {

    .content {
        padding: 2rem 5rem 5rem 5rem;
    }

}

@media screen and (max-width: 750px) {

    .find-skills {
        justify-content: center;
        line-height: 1rem;
    }  
}

@media screen and (max-width: 500px) {

    .content {
        padding: 2rem 3rem 3rem 3rem;
    }

    .about {
        text-align: justify;
    }

    .find-skills {
        flex-direction: column;
    }  

    .container-findme {
        flex-direction: row;
        justify-content: space-between;
    }

}