@import url('https://fonts.googleapis.com/css?family=Poppins');

.content {
    display: flex;
    padding: 2rem 10rem 10rem 10rem;
    flex-direction: column;
}

.about p{
    text-align: center;
    color: #FFFFFF;
    font-family: Poppins, 'Courier New', Courier, monospace;
    font-size: 20px;
}

.find-skills {
    display: flex;
    justify-content: space-around;
    color: #FFFFFF;
    font-family: Poppins, 'Courier New', Courier, monospace;
    font-size: 20px;
    line-height: 0.5rem;
}

h3 {
    color: #FFFFFF;
    padding-left: 5rem;
}

.item-skill {
    display: flex;
    justify-content: space-around;
}

.item {
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    margin: 12px;
    top:0;
    position:relative;
    -webkit-transition: top 0.4s ease-out;
    -moz-transition: top 0.4s ease-out;
    -o-transition: top 0.4s ease-out;
}

.item:hover {
    top: -12px;
}

.item-skill img {
    width: 30px;
    height: 30px;
    padding-top: 7px;
    padding-left: 10px;
}

.item-findme {
    display: flex;
    justify-content: center;
}

.icons {
    width: 50px;
    height: 50px;
    margin: 12px;
    top:0;
    position:relative;
    -webkit-transition: top 0.4s ease-out;
    -moz-transition: top 0.4s ease-out;
    -o-transition: top 0.4s ease-out;
}

.icons:hover {
    top: -12px;
}