@import url('https://fonts.googleapis.com/css?family=Poppins');

.formation {
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
}

h2 {
    font-family: Poppins, 'Courier New', Courier, monospace;
    color: #FFFFFF;
    font-size: 2.2rem;
}

h4 {
    color: #eda85f;
    font-size: 1.7rem;
}

.item-formation {
    font-family: Poppins, 'Courier New', Courier, monospace;
    color: #FFFFFF;
    line-height: 0.5rem;
    padding-bottom: 3rem;
}

p {
    font-size: 1.2rem;
    padding-left: 0.8rem;
}

.duration {
    font-size: 1rem;
    color: #a39d9d;
}

@media screen and (max-width: 850px) {

    .item-formation {
        line-height: 1.5rem;
    }    

}